@{
    Layout = null;
}
<!--
<div class="row">
    <div class="col-md-8 offset-md-4">
        <h3>Login</h3>
        <br />
        <br />
        <form method="post" action="/Login/Login">
            Username:<br />
            <input type="text" name="username" /><br />
            Password:<br />
            <input type="password" name="password" /><br />

            <input type="submit" name="Send" value="Send" />
        </form>
        <br />
        <br />

        <a href="/Register?state=@Model.state">Register</a>
    </div>
</div>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Microsoft.AspNetCore.StaticFiles" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/StaticFiles/css/util.css">
    <link rel="stylesheet" type="text/css" href="/StaticFiles/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post" action="/Login/Login">
                    <input type="hidden" name="state" value="@Model.state" />
                    <span class="login100-form-title p-b-26">
                        Login
                    </span>
                    

                    <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100" data-placeholder="password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a class="txt2" href="/Register?state=@Model.state">
                            Sign Up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/StaticFiles/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/StaticFiles/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/StaticFiles/vendor/bootstrap/js/popper.js"></script>
    <script src="/StaticFiles/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/StaticFiles/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/StaticFiles/vendor/daterangepicker/moment.min.js"></script>
    <script src="/StaticFiles/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/StaticFiles/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/StaticFiles/js/main.js"></script>

</body>
</html>